main {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#loginForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
}
#loginForm #loginInput,
#loginForm #passwordInput {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
}
#loginForm #submitButton {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#loginForm #submitButton:hover {
    background-color: #45a049;
}
#loginForm #error {
    color: red;
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
}

